<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.applicationnexus.plugins.ispeechplugin"
    version="0.0.1">
    
    <name>iSpeechPlugin</name>
    <description>Phonegap Plugin for iSpeech</description>
    <engines><engine name="cordova" version=">=3.0.0" /></engines>
    
    <js-module name="iSpeechPlugin" src="www/iSpeechPlugin.js">
        <clobbers target="cordova.iSpeechPlugin" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="iSpeechPlugin">
                <param name="ios-package" value="CDViSpeechPlugin" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/CDViSpeechPlugin.h" />
        <source-file src="src/ios/CDViSpeechPlugin.m" />
        
        <header-file src="src/ios/ISAppDelegate.h" />
        <source-file src="src/ios/ISAppDelegate.m" />
        
        <header-file src="src/ios/iSpeechSDK.h" />
        <header-file src="src/ios/ISSpeechRecognition.h" />
        <header-file src="src/ios/ISSpeechRecognitionLocales.h" />
        <header-file src="src/ios/ISSpeechRecognitionResult.h" />
        <header-file src="src/ios/ISSpeechSynthesis.h" />
        <header-file src="src/ios/ISSpeechSynthesisVoices.h" />
        
        <header-file src="src/ios/ISViewController.h" />
        <source-file src="src/ios/ISViewController.m" />
        
      
        <header-file src="src/ios/ISTextInputAlertView.h" />
        <source-file src="src/ios/ISTextInputAlertView.m" />
        
        <!-- system frameworks -->
        <source-file src="src/ios/frameworks/libiSpeechSDK.a" framework="true" />
        <framework src='AVFoundation.framework' />
        <framework src='AudioToolbox.framework' />
        <framework src='CoreAudio.framework' />
        <framework src='CFNetwork.framework' />
        <framework src='Security.framework' />
        <framework src='CFNetwork.framework' />
        <framework src='SystemConfiguration.framework' />
        
        <!-- resource bundles -->
        <resource-file src="src/ios/resources/iSpeechSDK.bundle" />
        
    </platform>
    
    <!-- Android -->
    
    <platform name="android">
    </platform>
    
</plugin>