<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="me.rahul.plugins.ispeechplugin"
        version="1.0">
    
    <name>iSpeechPlugin</name>
    
    <description>Cordova/Phonegap Plugin for iSpeech SDK</description>
    
    
    <js-module name="iSpeechPlugin" src="www/iSpeechPlugin.js">
        <clobbers target="window.iSpeechPlugin" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="iSpeechPlugin">
                <param name="ios-package" value="iSpeechPlugin" />
            </feature>
        </config-file>
		
        <!-- header and source file -->
		
        <header-file src="src/ios/iSpeechPlugin.h" />
        <source-file src="src/ios/iSpeechPlugin.m" />
        
        
        <header-file src="src/ios/iSpeechSDK.h" />
        <header-file src="src/ios/ISSpeechRecognition.h" />
        <header-file src="src/ios/ISSpeechRecognitionLocales.h" />
        <header-file src="src/ios/ISSpeechRecognitionResult.h" />
        <header-file src="src/ios/ISSpeechSynthesis.h" />
        <header-file src="src/ios/ISSpeechSynthesisVoices.h" />
        
        
        <!-- system frameworks -->
        <source-file src="src/ios/frameworks/libiSpeechSDK.a" framework="true" />
        
        <framework src='AVFoundation.framework' />
        <framework src='AudioToolbox.framework' />
        <framework src='CoreAudio.framework' />
        <framework src='CFNetwork.framework' />
        <framework src='Security.framework' />
        <framework src='CFNetwork.framework' />
        <framework src='SystemConfiguration.framework' />
        
        <!-- resource bundles -->
        
        <resource-file src="src/ios/resources/iSpeechSDK.bundle" />
        
    </platform>
    
    <!-- Android -->
    
    <platform name="android">
    </platform>
    
</plugin>